body {
  overflow-y: hidden;
  width: 100%;
}
.App {
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 50px;
}


.App-article {
  padding-bottom: 100px;
}

.App-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}


@media only screen and (max-width: 736px) {
  body {
    overflow-y: auto;
    width: 100%;
  }
  .App-header {
    font-size: 24px;
    justify-content: space-between;
  }
  .App-article {
    padding: 0px;
  }
  .App-footer {
    position: static;
    background-color: rgba(0, 0, 0, 0.85);
  }
}

@media only screen and (min-width: 737px) and (max-width: 1180px) {
  body {
    overflow-y: auto;
    width: 100%;
  }
  .App{
    height: auto;
  }
  .App-header {
    font-size: 36px;
    justify-content: space-between;
    
  }
  .App-article {
    padding: 0px;
  }
  .App-footer {
    position: static;
    background-color: rgba(0, 0, 0, 0.85);
  }
}