.Cards {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.introduction {
  /* height: auto; */
  flex: 1;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.85) 15%,
    rgba(0, 0, 0, 0.2) 40%,
    #000 90%
  );
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.introduction h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.introduction span {
  display: block;
  color: #00fc87;
  font-size: 1.6em;
  line-height: 1.1em;
}

.introduction p {
  color: white;
  text-align: justify;
}
.introduction .detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 35px 0 20px;
}

.introduction .detail_content {
  color: white;
  width: 50%;
}


@media only screen and (max-width: 736px) {
  .Cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
  }
  img {
    height: 100%;
    width: 100%;
  }
  .introduction {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.85) 15%,
      rgba(0, 0, 0, 0.2) 40%,
      #000 90%
    );
    padding: 0px;
  }
}

@media only screen and (min-width: 737px) and (max-width: 1180px) {
  .Cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse; 
  }
  .image {
    width: 100%;
  }
  /* img {
    height: 50%;
    width: 50%;
  } */
  .introduction {
    font-size: 24px;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.85) 15%,
      rgba(0, 0, 0, 0.2) 40%,
      #000 90%
    );
    padding: 0px;
  }
}
