
.typeahead {
  display: block;
  font-size: 24px;
  background: none;
  border: none;
  outline: medium;
  border-bottom: solid 1px white;
  color: white;
}

.tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: black;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: limeGreen;
  /* background-color: darkGrey; */
}

@media only screen and (max-width:414px) {
  .typeahead {
    /* width: 100%; */
    font-size: 16px;
  }

  .tt-menu {
    /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 200px;
    padding: 0;
  }
}

@media only screen and (min-width: 737px) and (max-width: 1180px) {
  .typeahead {
    /* width: 100%; */
    font-size: 24px;
  }
  .tt-menu {
    /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    /* width: 200px; */
    padding: 0;
  }
  .tt-suggestion {
    font-size: 20px;
    text-align: left;
  }
}